.Content--center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Menu {
  flex: 1 1;
  margin-right: 30px;
  margin-bottom: -25px;
}
